.login {
  padding-top: 200px;
  background: #299b83;
  min-height: 100vh;
  height: 100%;
}

.wrapper {
  /*border-radius: 5px;*/
  background: #299b83;
  width: 375px;
  margin: 0 auto;
  padding: 20px 40px 15px;
  /*box-shadow: 0 0 10px #ccc;*/
}

.title {
  font-weight: 400;
  margin: 10px 0 25px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: #333;
}
.title img{
  width: 200px !important;
}

.submit_button {
  width: 100%;
  background: #2f7465;
  border: 1px solid #2b7061;
  color: #fff;
}
